* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
    font-family: "IBM Plex Sans", serif;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    margin: 10px;
    background-color: rgb(20, 34, 55);
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    color: white;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(20, 34, 55);
    background-color: white;
}

.calculator {
    height: 800px;
    width: 600px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(20, 34, 55);
    box-shadow: 2px 2px darkgray;
}

.row {
    display: flex;
    flex: 1;
}


.top {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    flex: 1;
    min-height: 220px;
}

.top div {
    background-color: white;
    color: rgb(20, 34, 55);
    text-align: right;
    padding-right: 20px;
}

.header {
    width: 600px;
    text-align: left;
    margin: 20px 10px 10px 10px;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px lightgrey;
}

.footer {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.footer div {
    margin: 10px 0;
    font-size: 20px;
}


.answer {
    font-weight: 900;
    font-size: 100px;
    text-shadow: 2px 2px lightgrey;
}

img {
    height: 60px;
    width: auto;
}